stepFunctions.json
{
  "StartAt": "DecideOperation",
  "States": {
    "DecideOperation": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.Operation",
          "StringEquals": "createProduct",
          "Next": "CreateProduct"
        },
        {
          "Variable": "$.Operation",
          "StringEquals": "updateProduct",
          "Next": "UpdateProduct"
        },
        {
          "Variable": "$.Operation",
          "StringEquals": "deleteProduct",
          "Next": "DeleteProduct"
        }
      ],
      "Default": "FailState"
    },
    "CreateProduct": {
      "Type": "Map",
      "InputPath": "$.products",
      "ItemsPath": "$",
      "Iterator": {
        "StartAt": "CreateProductLamda",
        "States": {
          "CreateProductLamda": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:751768910717:function:FuntionsProducts",
            "Parameters": {
              "operation": "createProduct",
              "body.$":"$"
            },
            "ResultPath": "$.products",
            "End": true
          }
        }
      },
      "End": true
    },
    "UpdateProduct": {
      "Type": "Map",
      "InputPath": "$.products",
      "ItemsPath": "$",
      "Iterator": {
        "StartAt": "UpdateProductLamda",
        "States": {
          "UpdateProductLamda": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:751768910717:function:FuntionsProducts",
            "Parameters": {
              "operation": "updateProduct",
              "body.$":"$"
            },
            "ResultPath": "$.products",
            "End": true
          }
        }
      },
      "End": true
    },
    "DeleteProduct": {
      "Type": "Map",
      "InputPath": "$.products",
      "ItemsPath": "$",
      "Iterator": {
        "StartAt": "DeleteProductLamda",
        "States": {
          "DeleteProductLamda": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:751768910717:function:FuntionsProducts",
            "Parameters": {
              "operation": "deleteProduct",
              "body.$":"$"
            },
            "ResultPath": "$.products",
            "End": true
          }
        }
      },
      "End": true
    },
    "FailState": {
      "Type": "Fail"
    }
  }
}